h1{
    color: rgb(245 255 247);
    font-size: 30px;
    background-color: #bfa700;
    padding: 10px; 
    border-radius: 10px;
}
 
 body{
        background-image:
        linear-gradient(rgb(0,0,0, 0.5), rgb(0,0,0, 0.5)),
        url(fundogreen.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
    }

p{ 
    font-family:Georgia, 'Times New Roman', Times, serif ;
    font-size: 20px;
    color: rgb(245 255 247);
    
}
h2{
    color: rgb(245 255 247);
    font-size: 25px;
    background-color:rgb(191 167 0);
    padding: 10px; 
    border-radius: 10px;
}
a{
    background-color: #fff7be;
    padding: 8px 12px;
    text-decoration: none;
    color:  #685b08;
    font-weight: bold;
    border-radius: 10px;
}

.campo {
  display: flex;
  flex-direction: column;
  margin-bottom: 15px;
}

input, textarea {
  padding: 8px;
  border-radius: 5px;
  border: none;
  width: 300px;
}

form {
  margin-top: 20px;
}